@import url(https://fonts.googleapis.com/css?family=Montserrat:regular,600);

@import "./reset.css";

body {
  margin: 0;
  padding-top: 30px;
  font-family: Montserrat;
  background: #240750;
  color: #fff;
}

h1 {
  font-size: 28px;
  text-shadow: 1px 1px 5px #fff;
}

.btn {
  display: inline-block;
  border-radius: 10px;
  padding: 5px 10px;
  transition: all 0.3s ease 0s;
  font-weight: 600;
}
.btn_contained {
  background: rgba(56, 11, 125, 1);
  color: #e4c7fc;
}
.btn:hover:not(.active) {
  background: rgba(56, 11, 125, 0.3);
  color: #e4c7fc;
}
.btn.active {
  background: rgba(56, 11, 125, 1);
  color: #e4c7fc;
}

.container {
  max-width: 1200px;
  margin: 0 auto 0;
}

.filterByTime {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.time-filter-wrapper {
  display: flex;
  gap: 5px;
}

.range-title {
  font-size: 20px;
  margin-bottom: 10px;
}
.range input {
  display: block;
  padding: 5px 10px;
  max-width: 300px;
  width: 100%;
  border-radius: 10px;
  background: rgba(56, 11, 125, 1);
  color: #fff;
}
.range input::placeholder {
  color: rgba(255, 255, 255, 0.4);
}
.range-inputs {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.range-input-tip {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.4);
  margin-top: 5px;
}
.range-input-tip span {
  font-weight: 600;
}
.range-button {
  margin-top: 10px;
}
.range-error-message {
  color: #ff3333;
  margin-top: 5px;
}

.pagination {
  display: flex;
  flex-direction: column;
}
.pagination h3 {
  font-size: 20px;
}
.pagination span {
  font-weight: 600;
  color: #e4c7fc;
}
.pagination-buttons {
  display: flex;
  gap: 15px;
  margin-top: 10px;
}
.pagination-range {
  display: flex;
  flex-direction: column;
}
.actions {
  margin: 60px 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.info-bar {
  margin-top: 60px;
}
.info-bar-title {
  font-size: 30px;
  margin-bottom: 30px;
}
.info-bar-posts {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 15px;
  column-gap: 10px;
}
.info-bar-posts a {
  color: #e4c7fc;
}
.info-bar-posts a:hover {
  text-decoration: none;
}
.info-bar-post-top {
  display: flex;
  gap: 5px;
}
