@import "vars";

.input {
  display: block;
  padding: 5px 10px;
  max-width: 300px;
  width: 100%;
  border-radius: 10px;
  background: rgba(56, 11, 125, 1);
  color: #fff;
}
.input::placeholder {
  color: rgba(255, 255, 255, 0.4);
}
.panel {
  border-radius: 10px;
  background: #4a535d;
  padding: 0 15px;
  min-height: 50px;
}
.btn {
  display: inline-block;
  border-radius: 10px;
  padding: 5px 10px;
  transition: background 0.3s ease 0s;
  font-size: 14px;
  font-weight: 600;
  color: #fff;

  &:disabled {
    color: #898f96;
    cursor: no-drop;
  }
  &:hover:not(.active, :disabled) {
    background: $active-bg;

    &._grouped {
      border-radius: 0;
      background: #40454b;
    }
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto 0;
}

.highcharts-range-selector::-webkit-datetime-edit-text,
.highcharts-range-selector::-webkit-datetime-edit-month-field,
.highcharts-range-selector::-webkit-datetime-edit-day-field,
.highcharts-range-selector::-webkit-datetime-edit-year-field {
  color: #333;
}

.highcharts-legend-item path {
  display: none;
}
.highchart-legend-item {
  height: 30px;
  width: 80px;

  &-content {
    display: flex;
    margin-bottom: 5px;
    align-items: center;

    &-icon {
      width: 25px;
      height: 20px;
    }
    &-name {
      font-size: 12px;
      color: #fff;
    }
  }
  .legend-icon {
    transition: border-color 0.3s ease 0s;
  }
}

.highcharts-legend-item-hidden {
  .legend-icon {
    border-color: #656565 !important;
  }
  .highchart-legend-item-content-icon {
    fill: green;
  }
}
