@import url(https://fonts.googleapis.com/css?family=Montserrat:regular,600);

@import "reset";
@import "vars";
@import "global-classes";

// main classes ======================================================
body {
  margin: 0;
  padding-top: 30px;
  font-family: Montserrat;
  background: $bg-color;
  color: #fff;
}
h1 {
  font-size: 28px;
  margin-bottom: 55px;
  margin-left: 65px;
}
iframe {
  display: none;
}
.layout {
  display: flex;
  gap: 15px;
}
.sidebar {
  flex: 0 0 50px;
  display: flex;
  flex-direction: column;
  gap: 15px;

  &-button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 50px;
    border-radius: 10px;

    &:hover {
      background: rgba(63, 71, 79, 0.8);
    }

    &._active {
      background: rgba(63, 71, 79, 1);
    }

    svg {
      width: 23px;
      height: 23px;
    }
  }
}
.main {
  flex: 1 1 auto;
}
// main classes ======================================================

.range {
  &-input {
    background: transparent;
    color: #fff;
    fill: #fff;
    &::-webkit-calendar-picker-indicator {
      color: white;
    }
  }
  &-arrow {
    margin: 0 4px;
  }
}

.pagination {
  display: flex;
  flex-direction: column;

  & h3 {
    font-size: 20px;
  }
  & span {
    font-weight: 600;
    color: #e4c7fc;
  }
  &-buttons {
    display: flex;
    gap: 15px;
    margin-top: 10px;
  }
  &-range {
    display: flex;
    flex-direction: column;
  }
}

.actions {
  margin: 60px 0 30px;
  display: flex;
  justify-content: space-between;

  &-right {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
}

.info-bar {
  margin-top: 60px;
  &-title {
    font-size: 30px;
    margin-bottom: 30px;
  }
  &-posts {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 15px;
    column-gap: 10px;
  }
  &-posts a {
    color: #e4c7fc;
  }
  &-posts a:hover {
    text-decoration: none;
  }
  &-post-top {
    display: flex;
    gap: 5px;
  }
}

.requests-filter {
  display: flex;
  gap: 10px;

  &-buttons {
    display: flex;
    align-items: center;
    flex-grow: 1;
    gap: 10px;
    border-right: 1px solid #353c43;
  }
  //&-button.notActive {
  //  text-decoration: line-through;
  //  opacity: 0.5;
  //}
  &-button {
    height: 30px;

    &._grouped {
      width: 100%;
      display: block;
    }
  }
  &-edit {
    flex: 0 0 40px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      width: 16px;
      height: 16px;
    }
  }
}
.group-requests {
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 10px 10px 0 0;
  padding: 0 10px;
  transition: background 0.3s ease 0s;

  &._open {
    background: $active-bg;

    .group-requests-button-arrow {
      transform: rotate(90deg);
    }
    .group-requests-nested-buttons {
      background: $active-bg;
      opacity: 1;
      pointer-events: all;
      transform: translateY(100%);
    }
  }

  &-button {
    display: flex;
    align-items: center;
    gap: 5px;
    height: 30px;
    z-index: 1000;

    svg {
      width: 15px;
      height: 15px;
    }

    &-arrow {
      border-radius: 50%;
      border: 1px solid #fff;
      width: 12px;
      height: 12px;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: transform 0.3s ease 0s;
    }
    &-name {
      font-size: 14px !important;
    }
  }
  &-nested-buttons {
    position: absolute;
    bottom: 0;
    left: 0;
    min-width: 150px;
    width: 100%;
    z-index: 1000;
    opacity: 0;
    pointer-events: none;
    transform: translateY(70%);
    transition: all 0.3s ease 0s;
  }
}

.keyword-filter {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: start;
}

.time-accuracy {
  margin: 15px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.time-filter {
  height: 100%;
  display: flex;
  gap: 10px;

  &-button {
    color: #898f96;
    padding: 10px 5px;
    font-size: 14px;

    &._active {
      color: #fff;
    }
  }
}
